html {
  box-sizing: border-box;
}

*,
*:before *:after {
  box-sizing: inherit;
}

body {
  background-color: #2c2141;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
 
}
.main {
  background: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
  box-sizing: border-box;
}

.article {
  display: flex;
}

.article__image {
  border-radius: 74px;
  margin-right: 32px;
  width: 148px;
  height: 148px;
}

.article__header {
  width: 227px;
  height: 59px;
  margin-bottom: 24px;
}

.article__name {
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
.article__info {
  font-style: italic;
  margin: 0;
  font-size: 18px;
}

.article__paragraphe {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

}

 a {
    text-decoration: none;
    color: rgb(223, 41, 50);
}

